body {
	background: red;
}

h1 {
    text-shadow: 15px 15px black;
    color: white;
    font-family: impact;
    text-align: center;
    font-size: 128px;
    kerning: 5px;
    letter-spacing: 5px;
    margin-top: 250px;
    


}

h2 {

    text-shadow: 8px 8px black;
    color: white;
    font-family: impact;
    text-align: center;
    font-size: 60px;
    kerning: 5px;
    letter-spacing: 5px;
    margin-top: 50px;
    
}


#movie{
	position: relative;
	top: 50%;
	left: 40%;
	margin-top: 35px;
	margin-right: 25px;

}

#series{
	position: relative;
	top: 50%;
	left: 40%;
	margin-top: 35px;
	margin-left: 25px;

}

/*Movies & Series Page*/
#dropmenu{
	position: relative;
	align-self: center;
	/*left:40%;*/
}
.dropdown {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

.panel{
	margin-top: 15px;
}

ul{
	position: absolute;
	text-align: center;
}


